<%- include("./template/header.ejs") %>
<div class="frame-main">
    <div class="frame-left">
            <%- include("./template/left.ejs") %>
    </div>
    <div class="frame-resize" ></div>
    <div class="frame-right" >

           <div id ="main_pannel" class="file-continer file-list-icon">
           </div> 
           </div> 
</div>

<%- include("./template/footer.ejs") %>