<div class="common-footer">
   <span>Q.Explorer v1.0</span> 
</div>
<ul class="client_menu" id="navigationMenu">
			<li><i class="x-item-file x-folder small"></i><span>dev</span></li>
			<li><a href="#">Menu Item 2</a></li>
        </ul>
        <ul class="client_menu" id="folderMenu">
			<li><a href="#">Menu Item 1</a></li>
			<li><a href="#">Menu Item 2</a></li>
        </ul>
        <ul class="client_menu" id="fileMenu">
			<li><a href="#">Menu Item 1</a></li>
			<li><a href="#">Menu Item 2</a></li>
		</ul>
</body>
</body>
<link href="/style/main.css" rel="stylesheet">
<script src="/js/main.js"></script>
<script src="/js/contextMenu/jquery-contextMenu.js"></script>
</html>